p {
    text-align: center;
    color:#222222;
    display : flex;
    justify-content : center;
    align-items : center;
    font-size: x-small
}
.ico {
    width: 25px;
    height: 25px;
}
#bread {
    max-width: 100%;
    width: auto !important;
    max-height: 30%;
    height: auto !important;
}
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
a {
    color: white;
    text-decoration-line: none;
}
#text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    text-align: center;
    color: #F1D9C8;
}
#sound {
    margin-left: auto;
    margin-right: auto;
}
#고객의소리 {
    text-align: center;
    font-size: 25px;
}
.small, small {
    font-size: 50%;
}
input.제목내용 {
    width: 800px;
}
input#내용 {
    height: 400px;
}
#btnDiv {
    text-align: center;
}
#saveBtn {
    width: 150px;
    height: 70px;
    font-size: large;
    font-weight: bold;
    background-color: wheat;
    margin: 10px;
}
#cancelBtn {
    width: 150px;
    height: 70px;
    font-size: large;
    font-weight: bold;
    background-color: white;
    margin: 10px;
}
table {
    width: 1200px;
}
td {
    height: 60px;
    font-size: medium;
}
.blc {
    width: 35px;
}
.td1 {
    width: 160px;
}
td:nth-child(2) {
    font-weight: bold;
}
#banner {
    position: fixed;
    right:15px;
    top: 600px;
    z-index: 999;
}
ul {
    list-style: none;
}
#up {
    width: 30px;
    height: 30px;
}
#down {
    width: 30px;
    height: 30px;
}

/* 홈페이지 */
.cafe {
    /* border: 4px solid #222222; */
}
.빈공간 {
    height: 150px;
}
#지점 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    text-align: center;
}
#지점 span {
    font-size: 25px;
}
.공백용 {
    padding: 5px;
}

/* 메뉴 */
.ck {
    border: 2px solid #c9c9c9;
    width: 80%;
}
.col-md-3 {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
.cal {
    color : yellowgreen;
}
h4 {
    font-weight: bold;
}

/* 리뷰 */
.center_text {
    text-align: center;
    font-weight: bold;
}
.saying {
    
    font-size: 60px;
    margin: 80px 0 20px;
}
.star0 {
    margin: 0 0 20px;
}
.star1 {
    font-size: 20px;
}
.star2s{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.star2{
    width: 10px;
    height: 10px;
}
.star3 {
    color:grey;
}